<launch>
  <arg name="model_path" doc="Absolute path to the .onnx model file"/>
  <arg name="custom_op_path" doc="Absolute path to the libmmdeploy_onnxruntime_ops.so file"/>
  <arg name="conf_threshold" default="0.9" doc="Confidence threshold for detections"/>
  
  <arg name="camera_name" default="camera" />
  <arg name="color_topic" default="/$(arg camera_name)/color/image_raw"/>
  <arg name="depth_topic" default="/$(arg camera_name)/depth/image_raw"/>
  <arg name="cam_info_topic" default="/$(arg camera_name)/color/camera_info"/>

  <node name="mask2former_ros_node" pkg="hydra_seg_ros" type="mask2former_ros_node.py" output="screen">
      <param name="model_path" value="$(arg model_path)"/>
      <param name="custom_op_path" value="$(arg custom_op_path)"/>
      <param name="conf_threshold" value="$(arg conf_threshold)"/>
      
      <remap from="~colors" to="$(arg color_topic)"/>
      <remap from="~depth" to="$(arg depth_topic)"/>
      <remap from="~cam_info" to="$(arg cam_info_topic)"/>
  </node>
</launch>